<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title> <!-- referenced line 9 of users.js -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to fazbook</h1>
    <a href="/users/new">Create new user</a>
    <br>
    <br>
    <% users.forEach(function(user) { %>  <!-- loops over user db and shows relevant data -->
      <div>
        <span><%= user.firstName %></span>
        <span><%= user.lastName %></span>
        <a href="<%= '/users/show/' + user.id %>">Visit user page</a>
        <br>
        <br>
      </div>
  <%  }) %>  <!-- closes forEach loop -->
  </body>
</html>
